article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
}

html {
  position: relative;
  min-height: 100%;
}

body {
	background-color: #E0E0E0;
	font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
	font-size: 14px; 
	color: #000;
	
	
}

.clear {
	clear: both;
}

.mainBody {
	width: 95%;
	margin: 30px auto;
	margin-top: 55px;
	margin-bottom: 100px;
}
.HomeMainBody{
	width: 95%;
	
	margin: 30px auto;
	margin-bottom: 100px;
}

.desc{
	text-align: center;
	width: 940px;
	padding: 50px 0px;
	
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #333;
}

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/* Carousel base class */
.carousel {
  height: 450px;
  margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 450px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;

  min-width: 100%;
  height: 450px;
}

.dashboard {
	
	margin: 30px auto;
	margin-top: 55px;
	margin-bottom: 0px;
}

.title {
	border-bottom: 1px solid #CCC;
	padding: 10px 10px 0px 10px;
}

#title a{
	color: #000;
	font-weight: bold;
	font-size: 1.6em;
}

#footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 90px;
	background-image: url('modal-back.png');
}

#pagination{
	margin-bottom: 2px;
	margin-top: 2px;
}

.questionAnswerBlock{
	background-color: #fff;
}

#likeAndDislike{
	float: left;
	width: 8%;
	text-align: center;
}

#questionAnswer{
	
	
}

#question{
	float:right;
	width: 91%;
}

#questionBody{
	font-size: 16px;
	line-height: 1.5;
}

#questionComment{
	
}

#answer{
	float:right;
	width: 91%;
}

#answerBody{
	font-size: 16px;
	line-height: 1.5;
}

#answerComment{
	
}

.tags a {
	float: left;
	background: none repeat scroll 0% 0% #777;
	color: #fff;
	text-decoration: none;
	margin: 0 0 10px 18px;
	padding: 2px 10px 1px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	position: relative;
	transition: all .25s linear;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
	white-space: nowrap;
	line-height: 21px;
}

.tags a:before {
	content: "";
	border-style: solid;
	border-color: transparent #c5c5c5 transparent transparent;
	border-width: 12px 13px 12px 0;
	position: absolute;
	left: -13px;
	top: 0;
	transition: all .25s linear;
}

.tags a:hover:before {
	 border-color: transparent #39F transparent transparent;
}

.tags a:after {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 50% 50% 50% 50%;
    box-shadow: 0 1px 1px #737373 inset;
    content: "";
    height: 5px;
    left: -1px;
    position: absolute;
    top: 10px;
    width: 5px;
}

#headshot img {
	width: 100px;
	height: 100px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.comment li{
	border-top: 2px dotted #AAA;
	margin-top: 10px;
	padding-top: 5px;
}

.addComment a{
	padding-right: 15px;
	padding-bottom: 15px;
}

.xAnswers{
	color: #000;
	font-weight: bold;
	font-size: 1.4em;
	margin-top:20px;
}

.pad-bottom {
	margin-bottom: 5px;
}

.pad-top{
    margin-top: 15px;
}

.new-post {
    margin-top: 25px;
	padding: 15px 5px 5px 5px;
	background-color: #E0EAF1;
	border-top:4px solid #AAA;
}

div.editable{
	border: solid 2px transparent;
	padding-left: 15px;
	padding-right: 15px;
}

div.editable:hover{
	border-color: black;
	color: #999;
	cursor: pointer;
}













@-webkit-keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.instaFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 5.0s;
    -webkit-animation-timing-function: ease-in;
	
	-moz-animation-name: reset, fade-in;
    -moz-animation-duration: 5.0s;
    -moz-animation-timing-function: ease-in;
	
	animation-name: reset, fade-in;
    animation-duration: 5.0s;
    animation-timing-function: ease-in;
}

.quickFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-timing-function: ease-in;
	
	-moz-animation-name: reset, fade-in;
    -moz-animation-duration: 2.5s;
    -moz-animation-timing-function: ease-in;
	
	animation-name: reset, fade-in;
    animation-duration: 2.5s;
    animation-timing-function: ease-in;
}

@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -33%;
    position: absolute;
    top: 0;
    width: 33%;
    margin-left: 5px;
  }

  #sidebar, #sidebar a, #sidebar-footer a {
    padding-left:3px;
  }
}

#editor1 {
	font-size: 13px;
	line-height: 1.6;
}



.select2-container-multi .select2-choices .select2-search-choice {
    
}









.modal-content{
	background: #eee;
}

.modal-dialog {
 width: 350px;
}

.modal-footer {
 border-width:0;
}