article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
}

html {
  position: relative;
  min-height: 100%;
}

body {
	background-color: #E0E0E0;
	font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
	font-size: 14px; 
	color: #000;
	
	
}

.clear {
	clear: both;
}

.mainBody {
	width: 70%;
	margin: 30px auto;
	margin-top: 55px;
	margin-bottom: 100px;
}

		
.hiddenRow {padding: 0 !important;}

input.largerCheckbox
{
	width: 20px;
	height: 20px;
}

/*
 * <table class="table table-striped table-condensed table-hover" style="border-collapse:collapse;">
 * --------------------------------------------------
 */
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
  background-color: #E0E0E0;
}

.highlighted{
	background-color: #E0E0E0;
	color: #999;
}














.modal-content{
	background: #eee;
}

.modal-dialog {
 width: 350px;
}

.modal-footer {
 border-width:0;
}