article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
}

html {
  position: relative;
  min-height: 100%;
}

body {
	background-color: #E0E0E0;
	font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
	font-size: 14px; 
	color: #000;
	
	
}

.clear {
	clear: both;
}

.mainBody {
	width: 95%;
	margin: 30px auto;
	margin-top: 55px;
	margin-bottom: 100px;
}

#headshot img {
	width: 100px;
	height: 100px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.modal-content{
	background: #eee;
}

.modal-dialog {
 width: 350px;
}

.modal-footer {
 border-width:0;
}